.section {
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
}

.section__title {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    text-shadow:
    0 0 0.125rem rgb(23, 88, 228),
    0 0 0.125rem rgb(23, 88, 228);
}

.container {
    max-width: 1024px;  
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

.f-elements {
    display: flex;
}

.f-elements--header {
    align-items: center;
    justify-content: space-between;
}

.f-elements--center {
    align-items: center;
    justify-content: center;
}

.f-elements--responsive {
    flex-direction: column;
}

.g-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.g-elements--center {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.g-elements--responsive {
    grid-template-columns: 100%;
}

@media (min-width: 768px) {
    .f-elements--responsive{
        flex-direction: row;
    }
    .g-elements--responsive {
        grid-template-columns: 1fr 1fr;
    }
}